In [13]:
import pandas as pd
df1 = pd.read_csv('input.csv')
df1

   bus_id      time nextstationtimining  flow  kopargaon  pune  shirdi
0       4  09:10:22            09:48:32     0          0     0       0
1       1  09:50:00            10:45:33     0          1     0       0
2       1  17:47:14            18:28:48     1          1     0       0
3       3  12:34:23            13:05:23     1          0     0       1
4       3  10:47:22            15:17:21     0          0     0       1
5       1  01:30:35            02:22:15     0          1     0       0
6       4  02:15:24            02:52:57     0          0     0       0
7       3  01:32:14            02:07:35     1          0     0       1
8       3  00:23:44            05:50:24     0          0     0       1

In [14]:
df2 = pd.read_csv('newinput.csv')
df2

   bus_id      time nextstationtime  flow  kopargaon  pune  shirdi
0       4  07:12:36        07:45:44     0          0     0       0
1       1  07:48:32        08:25:22     0          1     0       0
2       3  08:32:08        14:12:22     0          0     0       1
3       2  14:14:23        18:42:23     1          0     1       0
4       3  18:50:23        19:25:15     1          0     0       1
5       1  19:32:42        20:08:21     1          1     0       0
6       4  03:22:53        03:57:12     0          0     0       0
7       2  01:12:42        06:37:24     1          0     1       0

In [15]:
df2['nextstationtimining'] = df2['nextstationtime']
df2 = df2.drop(['nextstationtime'],axis='columns')
df2

   bus_id      time  flow  kopargaon  pune  shirdi nextstationtimining
0       4  07:12:36     0          0     0       0            07:45:44
1       1  07:48:32     0          1     0       0            08:25:22
2       3  08:32:08     0          0     0       1            14:12:22
3       2  14:14:23     1          0     1       0            18:42:23
4       3  18:50:23     1          0     0       1            19:25:15
5       1  19:32:42     1          1     0       0            20:08:21
6       4  03:22:53     0          0     0       0            03:57:12
7       2  01:12:42     1          0     1       0            06:37:24

In [16]:
X = pd.concat([df1,df2])
X

   bus_id      time nextstationtimining  flow  kopargaon  pune  shirdi
0       4  09:10:22            09:48:32     0          0     0       0
1       1  09:50:00            10:45:33     0          1     0       0
2       1  17:47:14            18:28:48     1          1     0       0
3       3  12:34:23            13:05:23     1          0     0       1
4       3  10:47:22            15:17:21     0          0     0       1
5       1  01:30:35            02:22:15     0          1     0       0
6       4  02:15:24            02:52:57     0          0     0       0
7       3  01:32:14            02:07:35     1          0     0       1
8       3  00:23:44            05:50:24     0          0     0       1
0       4  07:12:36            07:45:44     0          0     0       0
1       1  07:48:32            08:25:22     0          1     0       0
2       3  08:32:08            14:12:22     0          0     0       1
3       2  14:14:23            18:42:23     1          0     1       0
4       3  18:50:23            19:25:15     1          0     0       1
5       1  19:32:42            20:08:21     1          1     0       0
6       4  03:22:53            03:57:12     0          0     0       0
7       2  01:12:42            06:37:24     1          0     1       0

In [17]:
def convert_time_to_seconds(time_str):
  """
  Converts a string of the format "hrs-min-sec" into seconds as an integer.

  Args:
    time_str: A string of the format "hrs-min-sec".

  Returns:
    An integer representing the time in seconds.
  """

  hours, minutes, seconds = time_str.split(':')
  if hours=='':
    hours =0
  if minutes=='':
    minutes =0
  if seconds=='':
    seconds=0
  hours = int(hours)
  minutes = int(minutes)
  seconds = int(seconds)
  return hours * 3600 + minutes * 60 + seconds

# Example usage
time_str = "2:30:45"
seconds = convert_time_to_seconds(time_str)
print(f"{time_str} in seconds is {seconds}")

2:30:45 in seconds is 9045

In [18]:
X['time'] = X['time'].apply(convert_time_to_seconds)
X['nextstationtimining'] = X['nextstationtimining'].apply(convert_time_to_seconds)
X

   bus_id   time  nextstationtimining  flow  kopargaon  pune  shirdi
0       4  33022                35312     0          0     0       0
1       1  35400                38733     0          1     0       0
2       1  64034                66528     1          1     0       0
3       3  45263                47123     1          0     0       1
4       3  38842                55041     0          0     0       1
5       1   5435                 8535     0          1     0       0
6       4   8124                10377     0          0     0       0
7       3   5534                 7655     1          0     0       1
8       3   1424                21024     0          0     0       1
0       4  25956                27944     0          0     0       0
1       1  28112                30322     0          1     0       0
2       3  30728                51142     0          0     0       1
3       2  51263                67343     1          0     1       0
4       3  67823                69915     1          0     0       1
5       1  70362                72501     1          1     0       0
6       4  12173                14232     0          0     0       0
7       2   4362                23844     1          0     1       0

In [19]:
inpu = X.drop(['bus_id','nextstationtimining'],axis='columns')
inpu

    time  flow  kopargaon  pune  shirdi
0  33022     0          0     0       0
1  35400     0          1     0       0
2  64034     1          1     0       0
3  45263     1          0     0       1
4  38842     0          0     0       1
5   5435     0          1     0       0
6   8124     0          0     0       0
7   5534     1          0     0       1
8   1424     0          0     0       1
0  25956     0          0     0       0
1  28112     0          1     0       0
2  30728     0          0     0       1
3  51263     1          0     1       0
4  67823     1          0     0       1
5  70362     1          1     0       0
6  12173     0          0     0       0
7   4362     1          0     1       0

In [20]:
out = X['nextstationtimining']
out

0    35312
1    38733
2    66528
3    47123
4    55041
5     8535
6    10377
7     7655
8    21024
0    27944
1    30322
2    51142
3    67343
4    69915
5    72501
6    14232
7    23844
Name: nextstationtimining, dtype: int64

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [22]:
model.fit(inpu,out)

LinearRegression()

In [23]:
model.score(inpu,out)

0.9774760440705128

In [27]:
model.predict([[10000,1,1,0,0]])

c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5364.00978394])

In [28]:
import pickle
with open('bus_model','wb') as f:
    pickle.dump(model,f)