In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:/MyVScode/College_Subjects/DMW/Datasets/fraud_detection_bank_dataset.csv");
df

,Unnamed: 0,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,0,9,1354,0,18,0,1,7,9,0,...,0,0,0,1,1,0,0,0,49,1
1,1,0,239,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,2,0,260,0,4,0,3,6,0,0,...,0,0,0,1,1,0,0,0,56,1
3,3,17,682,0,1,0,0,8,17,0,...,0,1,0,1,1,0,0,0,65,1
4,4,1,540,0,2,0,1,7,1,0,...,0,0,0,1,1,0,0,0,175,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20463,20463,0,88,0,0,0,2,-1,0,0,...,0,1,0,0,0,0,1,0,85,0
20464,20464,0,134,0,2,0,0,6,0,0,...,0,0,0,0,0,0,0,0,7,0
20465,20465,4,393,1,1,0,0,-1,4,0,...,0,1,0,0,0,0,0,0,45,0
20466,20466,0,10,0,1,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,5,0
20467,20467,4,399,0,3,0,1,7,4,0,...,0,1,0,1,1,0,0,0,72,0

In [3]:
import numpy

matrix = numpy.zeros((3,3))

# array([[0., 0., 0.],
#        [0., 0., 0.],
#        [0., 0., 0.]])

In [11]:
df.mean(axis=None, skipna=True, numeric_only=False)

423.03874621162737

In [22]:
# df.iloc[:2, 0]
# one based indexing
def coovariane(i,j):
    firstMean = df.iloc[:,i].mean()
    secondMean = df.iloc[:,j].mean()
    sum =0
    for x in range(0,df.iloc[:,i].size):
        sum += df.iloc[x,i]-firstMean*df.iloc[x,j]-secondMean
    return sum/df.iloc[:,i].size

In [25]:
coovariane(1,2)
df.iloc[:,1].size
df.iloc[:,2].size

20468

In [32]:
df.isna().sum()
df.dropna(inplace=True)